{% extends 'base.html'%}
{% load static %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
    <link rel="stylesheet" href="https://fonts.showit.com/v1?family=Ambit:1,400;0,400;0,300;0,700;&amp;family=Atyp-Text:0,500;0,700;&amp;family=MaisonNeue:0,400;0,700;">
{%endblock%}
{% block content %}
<h1>welcomeeeeeeeeeeeee</h1>
<form action="{% url 'users:logout' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
</form>
{% endblock %}
