{% extends 'base.html' %}
{% block content %}
    <div class="test-container">
        <h2>{{ test.title }}</h2>
{#        <form method="post" class="test-form">#}
{#            {% csrf_token %}#}
{#            {% for item in questions_with_options %}#}
{#                <p class="test-title">{{ item.question.text }}</p>#}
{#                {% for option in item.shuffled_options %}#}
{#                    <label class="test-item">#}
{#                        <input type="radio" name="question{{ item.question.id }}" value="{{ option }}">#}
{#                        {{ option }}#}
{#                    </label><br>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            <button type="submit" class="test-submit-button">End the test</button>#}
{#        </form>#}
        <form method="post" class="test-form">
            {% csrf_token %}
            {% for question in page_obj %}
                <p class="test-title">{{ question.text }}</p>
                {% for option in question.get_shuffled_options %}
                    <label class="test-item">
                        <input type="radio" name="question{{ question.id }}" value="{{ option }}">
                        {{ option }}
                    </label><br>
                {% endfor %}
            {% endfor %}
            {% if page_obj.number == page_obj.paginator.num_pages %}
            	<button type="submit" class="test-submit-button">End the test</button>
            {% endif %}
        </form>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_num <= 4 %}
                        {% if page_num == page_obj.number %}
                            <span class="current">{{ page_num }}</span>
                        {% else %}
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}